/* General body styling */
body {
  background-color: #23272a;
  color: aquamarine;
  font-family: "Roboto", sans-serif;
}

/* Card styling */
.card {
  margin: 0 5px;
  max-width: 30%;
  height: auto;
}

/* Card display area layout */
#cardDisplayArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Cards container styling */
#cards-container {
  flex: 0 0 60%;
  margin-left: 10px;
  margin-top: 20px;
}

/* Card image styling */
.cards-container img {
  border-radius: 10px;
}

/* Card hover effect */
.card:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* Cards section layout */
.cards-section {
  flex: 1;
}

/* Common button styling */
.common-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #7289da;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

/* Main container layout */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Individual die styling */
.die {
  display: inline-block;
  margin: 2px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

/* Dice section layout */
.dice-section {
  flex: 0 0 35%;
}

/* Dice text styling */
.dice-text {
  padding-right: 10px;
}

/* Dice type container layout */
.dice-type-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 10px;
}

/* Dice type count styling */
.dice-type .count {
  margin: 0 10px;
  font-size: 18px;
}

/* Dice results container */
#dice-results {
  margin-top: 20px;
}

/* Custom select tion  */
select.common-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
