body {
  background-color: #23272a;
  color: aquamarine;
  font-family: "Roboto", sans-serif;
}

.card {
  margin: 0 5px;
  max-width: 30%;
  height: auto;
}

#cardDisplayArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#cards-container {
  flex: 0 0 60%; /* Adjust the percentage as needed */
  margin-left: 10px;
	margin-top: 20px;
}

.cards-container img {
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.cards-section {
  flex: 1;
}

.common-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #7289da;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.die {
  display: inline-block;
  margin: 2px; /* Adjust spacing between individual die results */
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.dice-section {
  flex: 0 0 35%; /* Adjust the percentage as needed */
}

.dice-text {
  padding-right: 10px; /* Add spacing between text and results */
}

.dice-type-container {
  /* Apply grid to each dice type */
  display: grid;
  grid-template-columns: auto 1fr; /* Auto width for text, rest for results */
  align-items: center; /* Vertically center content */
  margin-bottom: 10px;
}

.common-button {
  background-color: #7289da;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.dice-type .count {
  margin: 0 10px;
  font-size: 18px;
}

#dice-results {
  margin-top: 20px;
}

select.common-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
